.topSemaforo {
    background-color: black;
    width: 10px;
    height: 120px;
    margin-left: 70px;   
}

.semaforo {
    position: fixed;
    display: block;
    background-color: black;
    width: 150px;
    height: 400px;   
    border-radius: 10px; 
}

.redLight {
    background-color: #b40101;
    width: 115px;
    height: 115px;
    margin: 10px auto;
}

.yellowLight {
    background-color: #dfc906;
    width: 115px;
    height: 115px;
    margin: 10px auto;
}

.greenLight {
    background-color: #01b40a;
    width: 115px;
    height: 115px;
    margin: 10px auto;
}

.selected {
    -webkit-box-shadow: 0px 0px 55px 28px rgba(255,235,133,1);
    -moz-box-shadow: 0px 0px 55px 28px rgba(255,235,133,1);
    box-shadow: 0px 0px 55px 28px rgba(255,235,133,1);
}

